.main
  .main__header
    .main__header--group
      .name
        = @group.name
      .member
        Member:
        - @group.users.each do |user|
          = user.name
    .edit--btn
      =link_to 'Edit', edit_group_path(@group) 
  .new__disply
    .new__disply--content--title
      タスク名
      %span.require 必須
    .input
    = f.text_field :content, {class: "new__disply--content--input", placeholder: "40文字まで"}
    .new__disply--explanation--title
      タスクの説明
    .input
    = f.text_area :explanation, {class: "new__disply--explanation--input", placeholder: "タスクの説明\n(必須 1,000文字以内)"}
    .new__disply--limit--title
      期限
    .input
    =raw sprintf(f.date_select(:limit, with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:(Time.now.year + 5), date_separator:'%s'),'年','月')+'日'
    .new__disply--execution--title
      完了チェック
      = check_box :task, :execution, {class: "check_box"}, true, false
    - if request.path_info = group_task_path
      .btn
        .new__disply--commit
        = f.submit "登録", class:"commit-btn"
        .new__disply--delete
        = link_to group_task_path, method: "delete", class: "delete-btn" do
          削除
    - else
      .btn
        .new__disply--commit
        = f.submit "登録", class:"commit-btn"
